.fa{
    color: #84b895;
}

/* Styles for small screens */
@media (max-width: 768px) {
  .landing-text{
    font-size: 4vmin !important;
    line-height: 5vmin !important;
    max-width: 100% !important;
    padding-left: 0 !important;
  }
  #home{
    margin-top: 18px !important;
  }
  #home-description{
    font-size: 3vmin !important;
    line-height: 4vmin !important;
  }
}
